.authReg{
  width: 15%;
  display: flex;
  justify-content: space-around;
  margin: auto 0;
  font-size: 20px;
  color: #ffffff;

  .authReg-exit {
    background-color: red;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 5px;
  }
}

