.todo_editAdd {
  width: 80%;
  display: grid;
  grid-template: 50px 1fr 50px 50px 25px / 1fr 4fr;
  align-items: center;

  input, textarea {
    width: 100%;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid black;
    transition: resize .2s;
    font-size: 1rem;
    outline: none;
    
    &:invalid:not(:placeholder-shown) {
      border: 2px solid hsl(360, 80%, 55%);
    }
  }

  input {
    height: 30px;
  }

  textarea {
    height: 80px;
    resize: vertical;
  }

  button {
    transition: all .2s;
    border-radius: 10px;
    outline: none;
  }
}

.todo_editAdd section {
  grid-area: 5 / 1 / 5 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.todo_updateBtn {
  background-color: hsl(123, 60%, 60%);

  &:hover {
    background-color: white;
    color: hsl(123, 60%, 60%);
    border: 2px solid hsl(123, 60%, 60%);
  }
}

.todo_closeBtn {
  background-color: hsl(360, 80%, 55%);

  &:hover {
    background-color: white;
    color: hsl(360, 80%, 55%);
    border: 2px solid hsl(360, 80%, 55%);
  }
}
