.header{
  display: flex;
  flex-direction: row;
  background-color: hsl(210,10%,23%);
  align-items: center;
  justify-content: space-between;
}

.header-links{
  display: flex;
  
  a {
    padding: 0 20px;
    transition: .5s;
    color: hsl(210, 10%, 60%);
    font-size: 25px;
    text-decoration: none;
  } 

  a:hover {
    color: white;
  }
}

