.lab {
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
  margin: 10px auto;
}

.lab__false{ 
  background-color: gray;
}

.lab__notCompleted{ 
  background-color: hsl(0, 94%, 47%);
}

.lab__completed{ 
  background-color: hsl(137, 80%, 58%);
}

.lab__inProgress{ 
  background-color: hsl(45,100%,51.4%);
}