.message {
  display: flex;
  flex-direction: column;
  width: 10rem;
  border: 2px solid transparent;
  border-radius: 5px;
  margin: 2px;
  animation: mount 1.5s;

  font-size: 17px ;
}

.message__info {
  border: 2px solid hsl(211, 80%, 65%);
}

.message__error {
  border: 2px solid hsl(360, 70%, 50%);
}

.message__warning {
  border: 2px solid hsl(20, 100%, 50%);
}

.message__success {
  border: 2px solid hsl(123, 60%, 60%);
}

.message_close {
  width: 90%;
  text-align: right;
}

@keyframes mount {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.delete {
  animation: delete 2.5s;
}

@keyframes delete {
  to {
    opacity: 0;
  }
}