.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
  height: rem;
  border: 1px solid black;
  margin: 2px;
  animation: mount 2s;
}
.message_close {
  text-align: right;
  width: 100%;
}
@keyframes mount {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.delete {
  animation: delete .5s;
  color: red;
}

@keyframes delete {
  from {
    opacity: 1;
  }
  25% {
    opacity: .75;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .25;
  }
  to {
    opacity: 0;
  }
}