.subject {
  display: grid;
  border: 1.5px solid black;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 18px;
  grid-template-columns: 1fr 1fr 1fr;
}

.subject_name {
}

.subject_week {
}

.subject_week__odd {
  color: #3DE96D;
}

.subject_week__even {
  color: #EB0707;
}

.subject_labs {
}