.todo {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  justify-items: start;
  margin-top: 2px;
  width: 30rem;
  height: 3rem;
  border: solid gray 1px;
  transition: .5s;

  &:hover {
    background-color: hsl(211, 80%, 65%);
  }
}

.todo_deadline__alert {
  color: hsl(360, 70%, 50%);
  font-size: 1rem;
}

.todo_deadline__warning {
  color: hsl(20, 100%, 50%);
}

.todo_deadline__green {
  color: hsl(123, 60%, 60%);
}

.completed {
  text-decoration: line-through;
}

.active {
  background-color: hsl(211,100%,50%);
}