.todo {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  justify-items: start;
  margin-top: 2px;
  width: 30rem;
  height: 3rem;
  border: solid gray 1px;
  transition: .5s;

  &:hover {
    background-color: hsl(211, 80%, 65%);
  }
}

.completed {
  text-decoration: line-through;
}

.active {
  background-color: hsl(211,100%,50%);
}