.todos {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-left: 20%;
}

.todos-overview {
  display: flex;
}

.todos-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todos-filters {
  width: 43%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo_content {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 40px;
  font-size: 1.2rem;

  button {
    padding: 0 5px;
    margin: 2px;
    border: 0;
    font-size: 1.2rem;
    color: white;
    border: 2px solid transparent;
    transition: .2s;
  }
}

.todos_addBtn {
  border-radius: 50%;
  border: none;
  width: 3rem;
  height: 3rem;
  background-color: hsl(360, 70%, 50%);
  color: white;
  font-size: 2rem;
}

.todo_editBtn {
  background-color: hsl(45,100%,51.4%);
  &:hover {
    background-color: white;
    color: hsl(45,100%,51.4%);
    border: 2px solid hsl(45,100%,51.4%);
  }
}

.todo_comleteBtn {
  background-color: hsl(123, 60%, 60%);
  &:hover {
    background-color: white;
    color: hsl(123, 60%, 60%);
    border: 2px solid hsl(123, 60%, 60%);
  }
}

.todo_deleteBtn {
  background-color: hsl(360, 80%, 55%);
  &:hover {
    background-color: white;
    color: hsl(360, 80%, 55%);
    border: 2px solid hsl(360, 80%, 55%);
  }
}