.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;

  * {
    margin-bottom: 2px;
  }

  input{  
    border: 1px solid #494949;
    background-color: #ffffff;
  }

  &-form__addBtn {
    
  }
}